<%- include ('_header'); -%>

<h3>You are searching for <%= termName %> in <%= location %></h3>

<h1>What is most important to you?</h1>

<%- include ('_restaurantOptions'); -%>

<%- include ('_standardOptions'); -%>

<%- include ('_footer'); -%>

