<%- include ('_header'); -%>

<%if (location.includes("lat") && location.includes("long")) { %>
    <h3>You are searching for <%= termName %> in your area</h3>
<% } else { %>
    <h3>You are searching for <%= termName %> in <%= location %></h3>
<% } %>

<h1>What is most important to you?</h1>

<%- include ('_restaurantOptions'); -%>

<%- include ('_standardOptions'); -%>

<%- include ('_footer'); -%>

