<%- include ('_header'); -%>

<script>
var x = document.getElementById("demo");

    function getLocation() {
        var x = document.getElementById("demo");
    x.style.color = 'red';
    
 if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(nextPage);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

    function nextPage(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        var location = 'lat:' + latitude + ', long:' + longitude;
        window.location.href = '/location/<%= term %>?location=' + location;
    }


</script>

<button onclick="getLocation()">Use my location</button>

<p id="demo"></p>

<form method='GET' action="/location/<%= term %>">
        <div>
            <div>
                <span>Where would you like to search for <%= termName %>?</span>
            </div>
            <div>
                <input autocomplete="off" type="text" id="location" name="location" />
            </div>
        </div>
        <div>
            <input type="submit" value="enter" />
        </div>
    </form>

<%- include ('_footer'); -%>
