<%- include ('_header'); -%>

<h3>You are searching for <%= term %> in <%= location %></h3>

<h1>What is most important to you?</h1>

<div>
    <p><a href="/cuisine">Cuisine</a></p>
</div>

<%- include ('_standardOptions'); -%>

<%- include ('_footer'); -%>
