<%- include ('_header'); -%>

<div class="centerText">
    <%if (location.includes("lat") && location.includes("long")) { %>
        <h3 class="search">You are searching for <%= termName %> in your area</h3>
    <% } else { %>
        <h3 class="search">You are searching for <%= termName %> in <%= location %></h3>
    <% } %>
</div>

<%if (choice == "price") { %>
    <div class="question">
          <h1 style="font-family: 'Karla'; padding: 5px 5px;">Displaying results in your chosen price range:</h1>
    </div>
<% } %>

<%if (choice == "rating") { %>
    <div class="question">
          <h1 style="font-family: 'Karla'; padding: 5px 5px;">Displaying results ordered by rating:</h1>
    </div>
<% } %>

<%if (choice == "open-now") { %>
    <div class="question">
          <h1 style="font-family: 'Karla'; padding: 5px 5px;">Displaying results open now:</h1>
    </div>
<% } %>

<%if (choice == "deals") { %>
    <div class="question">
          <h1 style="font-family: 'Karla'; padding: 5px 5px;">Displaying businesses that are offering Yelp deals:</h1>
    </div>
<% } %>

<%if (choice == "near-me") { %>
    <div class="question">
          <h1 style="font-family: 'Karla'; padding: 5px 5px;">Displaying results ordered by distance:</h1>
    </div>
<% } %>

<%if (choice == "reservations") { %>
    <div class="question">
          <h1 style="font-family: 'Karla'; padding: 5px 5px;">Displaying businesses with Yelp Reservations enabled:</h1>
    </div>
<% } %>

<%if (choice == "waitlist") { %>
    <div class="question">
          <h1 style="font-family: 'Karla'; padding: 5px 5px;">Displaying businesses with Yelp Waitlist enabled:</h1>
    </div>
<% } %>

<%- include ('_businessList'); -%>

<%- include ('_footer'); -%>

    

