<%- include ('_header'); -%>

<h3>You are searching for: <%= term %> in <%= location %></h3>

<h1>What is the most important factor to you?</h1>

<div>
    <p><a href="/response/cuisine?location=<%= location %>&term=<%= term %>">Cuisine</a></p>
</div>
<div>
    <p><a href="/response/price">Price</a></p>
</div>
<div>
    <p><a href="/response/open-now?location=<%= location %>&term=<%= term %>">Open Now</a></p>
</div>
<div>
    <p><a href="/response/near-me">Near me</a></p>
</div>


<%- include ('_footer'); -%>

    

