<%- include ('_header'); -%>

<div class="centerText">
    <%if (location.includes("lat") && location.includes("long")) { %>
        <h3 class="search">You are searching for <%= termName %> in your area:</h3>
    <% } else { %>
        <h3 class="search">You are searching for <%= termName %> in <%= location %>:</h3>
    <% } %>
</div>

<div class="question">
    <h1 style="font-family: 'Karla'; padding: 5px 5px;">What is most important to you?</h1>
</div>

<%if (term == "restaurants") { %>
    <div class="centerText" style="margin-bottom:40px">
        <span class="indexOption1">
            <a href="/cuisine?term=<%= term %>&location=<%= location %>" class="indexLink">Cuisine</a>
        </span>
        <%- include ('_restaurantOptions'); -%>
    </div>
<% } %>

<%if (term == "shopping") { %>
    <div class="centerText">
        <span class="shortOption">Type of Store</span>
        <form method='GET' action="/result/default/<%= location %>">
            <div class="centerText" style="font-family: 'Karla'; margin-bottom:60px">
                <div>
                    <span>enter a store type:</span>
                </div>
                <div>
                    <input style="width:50%; height:20px" type="text" id="term" name="term"/>
                </div>
                <div>
                    <input type="submit" value="search" class="priceButton" />
                </div>
            </div>
        </form>
    </div>
<% } %>

<%if (term == "active") { %>
    <div class="centerText">
        <span class="shortOption">Specific Activity</span>
        <form method='GET' action="/result/default/<%= location %>">
            <div class="centerText" style="font-family: 'Karla'; margin-bottom:60px">
                <div>
                    <span>enter an activity or type of attraction:</span>
                </div>
                <div>
                    <input style="width:50%; height:20px" type="text" id="term" name="term"/>
                </div>
                <div>
                    <input type="submit" value="search" class="priceButton" />
                </div>
            </div>
        </form>
    </div>
<% } %>

<%if (term == "beauty" || term == "home") { %>
    <div class="centerText">
        <span class="shortOption">Specific Services</span>
        <form method='GET' action="/result/default/<%= location %>">
            <div class="centerText" style="font-family: 'Karla'; margin-bottom:60px">
                <div>
                    <span>enter the service you're looking for:</span>
                </div>
                <div>
                    <input style="width:50%; height:20px" type="text" id="term" name="term"/>
                </div>
                <div>
                    <input type="submit" value="search" class="priceButton" />
                </div>
            </div>
        </form>
    </div>
<% } %>

<%- include ('_standardOptions'); -%>

<%- include ('_footer'); -%>
